.error_value{
    border: 1px solid red !important;
}

.error_value:focus{
    outline: 2px solid red !important;
}

.btn-disabled{
    background-color: gray !important;
}
.btn-disabled:hover{
    background-color: gray !important;
}