@import url("./colors.css");

main {
  background-color: #192e40;
}

.section__form-inscripcion {
  width: 100%;
  padding-left: 6em;
}

.titulo {
  padding-top: 4em;
  color: white;
}

.titulo h2 {
  font-weight: bold;
}

.form__inscripcion {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: auto;
  padding-top: 0.5em;
}

.campos {
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  flex-wrap: wrap;
  row-gap: 1.5em;
  padding: 2em 0;
}

h4 {
  color: white;
  height: 2em;
  padding-top: 1em;
}

.icono {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.campos input {
  height: 3em;
  padding-left: 0.5em;
  border-radius: 15px;
  border: none;
}

.icono {
  color: var(--color-primario);
  line-height: 1;
  font-size: 1.5em;
}

.icono::before {
  font-size: 1.5em;

}

.agregar_persona {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding-left: 0;
  gap: 0.5em;
  color: white;
  width: auto;

}

.agregar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  height: auto;
}

.agregar_persona i {
  display: flex;
  align-items: center;
  font-size: 2em;
  color: var(--color-primario);
}

.inscripcion {
  display: flex;
  align-items: center;
  color: var(--color-primario);
  gap: 0.5em;
}

.inscripcion p {
  font-size: 1.2em;
  font-weight: bold;
}

.button_inscripcion {
  background-color: var(--color-primario);
  color: var(--color-texto);
  box-shadow: #252525 2px 2px 5px;
  height: 3em;
  width: 7em;
  border-radius: 0.5em;
  color: var(--color-blanco);
  border-style: none;
}

.inscripcion button:hover {
  background: #218838;
}

.agregar_persona a:hover i {
  color: #218838;
}

.form__inscripcion .campos a:hover i {
  color: #218838;
}

.agregar_persona a {
  text-decoration: none;
}

.agregar i::before {
  font-size: 1.1em;
}

.datos__persona {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2em;
}

.icono {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6em;
}

.cursos_desplegables {
  display: flex;
  justify-content: end;
}

.desplegable {
  position: relative;
}

.desplegable a {
  color: var(--color-primario);
  font-weight: 500;
}

.desplegable .menu_desplegable {
  display: none;
}

.menu_desplegable {
  position: absolute;
  left: 0;
  top: 100%;
  gap: 0.5em;
  font-size: 0.9em;
  cursor: pointer;
}

.menu_desplegable li {
  padding: 0.2em;
}


.menu_desplegable>li {
  width: 225%;
  transform: translateX(-20px);
  text-align: center;
  background-color: var(--color-fondo);
}

.menu_desplegable>li:hover {
  z-index: 100;
}

.desplegable:hover>.menu_desplegable {
  display: block;
}

.contenedor_form_imagen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 4em;
}

.imagen_curso {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

/* que la imagen no se dispare */
.imagen_curso img {
  width: 90%;
  height: auto;
  border-radius: 35px;
}

.agregar_persona .btn-agregar{
  background: none;
  border: none;
  color: gray;
  cursor: auto;
}
.agregar_persona .btn--off:hover{
  color: gray;
  cursor: auto;
}

.modal-overlay{
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(0,0,0,0.5);
        display: flex; justify-content: center; align-items: center;
        z-index: 9999;
}
.modal-empresa{
          background: white; 
          padding: 30px;
          border-radius: 12px;
          text-align: center;
          box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
#cerrarModal, #aceptarInscripcion{
              margin-top: 1.25em;
            padding: 0.5em 1em;
            border: none;
            background-color: #33a65b;
            color: black;
            border-radius: 6px;
            cursor: pointer;
}
.Botones-Modal{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

@media screen and (max-width: 86em) {
  .contenedor_form_imagen {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .form__inscripcion {
    width: 60%;
    height: auto;
    align-items: start;
  }

  .imagen_curso {
    width: 50%;
    padding-bottom: 5em;
  }

  .imagen_curso img {
    max-width: 90%;
    height: auto;
    padding: 0;
  }
}

@media screen and (min-width:60.01em) and (max-width:73em) {
  .contenedor_form_imagen {
    flex-wrap: nowrap;
    align-items: center;
    gap: 2em;
  }

  .form__inscripcion {
    width: 80%;
    height: auto;
    align-items: start;
  }

  .imagen_curso {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 0;
    padding-bottom: 5em;
  }

  .imagen_curso img {
    max-width: 90%;
    height: auto;
    padding: 0;
  }
}

@media screen and (max-width: 60em) {
  .contenedor_form_imagen {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .form__inscripcion {
    width: 100%;
    height: auto;
    align-items: start;
  }

  .imagen_curso {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
  }

  .campos {
    height: auto;
  }

  .agregar_persona {
    width: 100%;
  }

  .imagen_curso img {
    max-width: 90%;
    height: auto;
  }
}


@media screen and (max-width: 47em) {
  .titulo {
    padding-left: 2em;
  }

  .section__form-inscripcion {
    padding: 0;
  }

  .contenedor_form_imagen {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-right: 0;
  }


  .form__inscripcion {
    width: 100%;
    height: auto;
    align-items: flex-start;
  }

  .form__inscripcion h4 {
    padding: 0;
    padding-left: 2em;
  }

  .campos {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 0 2em;
    height: auto;
  }

  .datos__persona {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 1em;
  }

  .datos__persona input {
    width: 100%;
  }

  .datos__persona i {
    margin: 0;
  }

  .icono {
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    margin-top: 0.5em;
  }

  .agregar_persona {
    width: 100%;
    align-items: center;
    padding-top: 1.5em;
  }

  .imagen_curso {
    width: 100%;
    margin-top: 1.5em;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .imagen_curso img {
    max-width: 90%;
    padding: 1em 0;
    height: auto;
  }
}