main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    margin: 4em 0;
}

.contenedor-imagen-login img{
    width: 30em;
}
.contenedor-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 1em;
    padding: 2em;
    background-color: #dbe8faa3;
    border-radius: 20px;
}

.contenedor-login h1{
    font-weight: 700;
    font-size: 2.5em;
    color: var(--color-texto);
    text-align: center;
}

.contenedor-login h2{
    text-align: center;
}

.contenedor-login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.contenedor-login .input-login{
    padding: 0.5em;
    padding: 0.8em 1.5em;
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
}

.contenedor-login .input-login:focus{
    outline: 2px solid var(--color-primario);
}

.btn-login{
    border: none;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    width: 60%;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-login:hover{
    background-color: #37b663;
}

.btn-login:active{
    background-color: var(--color-primario);
}

.contenedor-login hr{
    width: 15em;
}

.contenedor-login a{
    text-decoration: none;
    color: var(--color-primario);
}

@media (max-width: 768px){
    main{
        flex-direction: column;
        gap: 2em;
        margin: 2em 0;
        justify-content: center;
        align-items: center;
    }

    .contenedor-imagen-login img{
        display: none;
    }

    .contenedor-login{
        justify-content: center;
        align-items: center;
        padding: 2em;
        width: 85%;
    }

    .contenedor-login h1{
        font-size: 2em;
    }

    .contenedor-login h2{
        font-size: 1.3em;
    }

    .contenedor-login .input-login{
        padding: 0.6em 1em;
    }

    .btn-login{
        font-size: 0.9em;
    }

    .contenedor-login hr{
        width: 70%;
    }

    .contenedor-login p{
        font-size: 0.9em;
    }

    .contenedor-login a{
        font-size: 0.9em;
    }
}