@import url("./colors.css");

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    position: relative;
    background-color: var(--color-blanco);
    padding: 1.25em;
    border: 1px solid var(--color-oscuro);
    color: var(--color-texto);
    width: 80%;
    max-width: 33em;
    border-radius: 0.4em;
    text-align: center;
}


hr {
    border: 0.5px solid rgb(102, 102, 102);
    width: 95%;
    margin: auto;
}

.modal-titulo {
    margin: 0 0.3em;
    text-align: center;
    color: var(--color-oscuro);
    font-weight: 600;
}

.modal-descripcion {
    padding: 1em;
    text-align: start;
    font-weight: 400;
}

.button{
    font-size: 1em;
    font-weight: 600;
    border-radius: 0.6em;
}

.cerrar {
    color: #aaa;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 2em;
    
    right: 0.4em;
    top: 0.2em;
}

.cerrar:hover,
.cerrar:focus {
    color: var(--color-acento);
    text-decoration: none;
    cursor: pointer;
}