dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    width: 100%;
    height: 100%;
    border: none;
    background-color: inherit;

}

.modal--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-body {
    position: relative;
    background-color: var(--color-oscuro);
    padding: 1.25em;
    border: 1px solid var(--color-oscuro);
    width: 80%;
    max-width: 33em;
    height: max-content;
    border-radius: 0.4em;
    text-align: center;
}

.modal-content {
    width: 100%;
    max-height: 33em;
    padding: 1em;
    text-align: center;
    color: var(--color-blanco) !important;
}


hr {
    border: 0.5px solid rgb(102, 102, 102);
    width: 95%;
    margin: auto;
}

.modal-titulo {
    margin: 0 0.3em;
    text-align: center;
    color: var(--color-blanco);
    font-weight: 600;
}

.modal-descripcion {
    padding: 1em;
    text-align: start;
    font-weight: 400;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button {
    font-size: 1em;
    font-weight: 600;
    border-radius: 0.6em;
}

.btn-danger {
    background-color: var(--color-acento);
    color: var(--color-blanco);
    border: none;
}

.btn-danger:focus {
    outline: none;
    box-shadow: none;
}

.span-close {
    color: #aaa;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 2em;

    right: 0.4em;
    top: 0.2em;
}

.span-close:hover,
.span-close:focus {
    color: var(--color-acento);
    text-decoration: none;
    cursor: pointer;
}


dialog:open {
    opacity: 1;
    transform: scaleY(1);
}

dialog {
    opacity: 0;
    transform: scaleY(0);
    transition:
        opacity 0.7s ease-out,
        overlay 0.7s ease-out allow-discrete,
        display 0.7s ease-out allow-discrete;

}

@starting-style {
    dialog:open {
        opacity: 0;
        transform: scaleY(0);
    }
}

dialog::backdrop {
    background-color: transparent;
    transition:
        display 0.7s allow-discrete,
        overlay 0.7s allow-discrete,
        transform 0.7s,
        background-color 0.7s;

}

dialog:open::backdrop {
    background-color: rgb(0 0 0 / 25%);
}

@starting-style {
    dialog:open::backdrop {
        background-color: transparent;
    }
}