@import url("./colors.css");
@import url("./error.css");


.main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 0;
    color: var(--color-texto);
    background-color: var(--color-fondo-calendar);
}

h1 {
    font-weight: 500;
}

input {
    padding: 0.4em 1em;
    border-radius: 0.8em;
    border-style: none;
    border: none;
    font-size: 1em;
    outline: none;
}

input:focus {
    outline: none;
    border-color: var(--color-primario);
}

.main__pago {
    width: 50%;
}

.section__form_pago {
    margin-top: 3em;
    width: 70%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1em 0;
    border-radius: 0.5em;
    padding: 1em;
    background-color: var(--color-fondo);
    color: var(--color-bordes);
    box-shadow: 0 0 0.8em 0 var(--color-oscuro);
}

.section__medios_pago {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.main__render {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__render img {
    width: 100%;
    border-radius: 1.5em;
}

/*DETALLE PAGO*/
.main__pago p {
    font-weight: 600;
    color: var(--color-texto);
    border-bottom: 1px solid var(--color-gris);
}

.main__pago label {
    color: var(--color-texto);
    font-weight: 400;
}

.main__pago_tarjeta--seguridad {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.7em 3em;
}

.main__pago_tarjeta--subcontenedor {
    display: flex;
    flex-direction: column;
    gap: 0.7em 0;
}

/*Botones*/
.main__botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

.giftCard__boton {
    align-self: center;
    border-radius: 0.4em;
    padding: 0.5em 1em;
    background-color: var(--color-primario);
    color: var(--color-fondo);
    font-weight: 500;
    font-size: 0.9em;
    cursor: pointer;
    text-decoration: none;
}

#giftCard__boton--secundario {
    background-color: var(--color-fondo);
    color: var(--color-acento);
    border: 1px solid var(--color-acento);
}

#giftCard__boton--secundario:hover {
    background-color: var(--color-acento);
    color: var(--color-blanco);
    border: 1px solid var(--color-acento);
}

#giftCard__boton--secundario:active {
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    border: 1px solid var(--color-secundario);
}

.medioPago {
    display: none;
    width: 100%;
    height: 100%;
    max-height: 25em;
}

#tarjeta:checked~#form-tarjeta {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.7em 3em;
}

#mp:checked~#form-qr {
    display: block;
}

.medioPago_qr {
    padding: 2em;
    margin: 1em auto;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #05AFF2;
    border-radius: 25px;

}

.medioPago p {
    text-align: center;
    width: 100%;
}

.medioPago_qr img {
    max-width: 15em;
}

@media screen and (max-height: 48.5em) {
    .section__form_pago {
        margin-top: 6em;
        max-height: fit-content;
    }
}

/*TABLET*/
@media screen and (max-width: 64em) {
    body {
        font-size: 90%;
    }

    input {
        font-size: 80%;
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        /*Por columna*/
        align-items: center;
        gap: 1em;
    }

    .medioPago {
        height: auto;
        max-height: inherit;
    }

    .medioPago_qr img {
        max-width: 12em;
    }

    #tarjeta:checked~#form-tarjeta {
        gap: 0.3em;
    }

}

/*MOBILE*/
@media screen and (max-width: 48em) {
    body {
        font-size: 90%;
    }

    .section__medios_pago {
        gap: 1em 2%;
        font-size: 100%;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 5em;
    }

    .main__pago {
        width: 100%;
    }

    .section__form_pago {
        margin: 3em auto;
        width: 80%;
    }


    .main__render img {
        display: none;
    }
}

@media screen and (max-width: 26.6em) {
    .section__medios_pago {
        gap: 1em 1%;
        font-size: 100%;
        display: grid;
        grid-template-columns: 0.1fr 2fr;
        grid-template-areas: "a b"
            "c d"
            "e e";
    }

    .medioPago {
        grid-area: e;
    }

    #tarjeta {
        grid-area: a;
    }

    #mp {
        grid-area: c;
    }
}

/*PC ESCRITORIO*/
@media screen and (min-width: 140em) {
    body {
        font-size: 105%;
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .main__pago {
        width: 20%;
        height: auto;
    }

    .main__render {
        width: 25%;
        height: auto;
    }
}