main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3em;
    margin: 4em 0;
}
.contenedor-imagen-registro img{
    width: 30em;
}
.contenedor-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 7em;
    background-color: #dbe8faa3;
    border-radius: 20px;
}

.contenedor-registro h1{
    font-weight: 700;
    font-size: 2.5em;
    color: var(--color-texto);
    text-align: center;
}

.form-registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.contenedor-registro .input-registro{
    display: flex;
    align-items: flex-start;
    padding: 0.8em 1.5em;
    font-size: 0.8em;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: all 0.1s ease-in-out;
}

.contenedor-registro .input-registro:focus{
    outline: 2px solid var(--color-primario);
}

.btn-registro{
    border: none;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    width: 60%;
    padding: 0.5em;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-registro:hover{
    background-color: #37b663;
}

.btn-registro:active{
    background-color: var(--color-primario);
}

.contenedor-registro hr{
    width: 15em;
}

.ir-login{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    justify-content: center;
    align-items: center;
}

.ir-login a{
    color: var(--color-primario);
    text-decoration: none;
}


/* Media */
@media (max-width: 768px){
    main{
        flex-direction: column;
        gap: 2em;
        margin: 2em 0;
        justify-content: center;
        align-items: center;
    }

    .contenedor-imagen-registro img{
        display: none;
    }

    .contenedor-registro{
        justify-content: center;
        align-items: center;
        padding: 2em;
        width: 85%;
    }

    .contenedor-registro h1{
        font-size: 2em;
    }

    .contenedor-registro .input-registro{
        padding: 0.6em 1em;
    }

    .btn-registro{
        font-size: 0.9em;
    }

    .contenedor-registro hr{
        width: 70%;
    }

    .ir-login p{
        font-size: 0.9em;
    }

    .ir-login a{
        font-size: 0.9em;
    }
}
