@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url("./colors.css");
@import url("./modal.css");

* {
 margin: 0;
 padding: 0;
 font-family: "Roboto", sans-serif;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
 box-sizing: border-box;
}

html,
body {
 width: 100%;
 height: 100%;
}

body {
 display: flex;
 flex-direction: column;
}

main {
 padding-top: 5rem;
 flex: 1;
}

.header {
 width: 100%;
 height: 5rem;
 display: grid;
 grid-template-columns: 1fr 2fr 1fr;
 align-items: center;
 position: fixed;
 top: 0;
 background-color: var(--color-fondo);
 z-index: 100;
 box-shadow: 0 0 1em 0 var(--color-bordes);
}

.hamburger {
 background: none;
 border: none;
 font-size: 2rem;
 cursor: pointer;
 display: none;
 /* oculto en desktop */
 color: var(--color-primario);
}

.header__nav ul {
 width: 100%;
 list-style: none;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 1em;
}

.nav__a ul {
 list-style: none;
 display: flex;
 gap: 2rem;
 padding: 0;
 margin: 0;
}

.nav__a .enlace__curso {
 position: relative;
 display: inline-block;
 text-decoration: none;
 color: var(--color-primario);
 font-size: 18px;
 font-weight: 500;
 padding: 4px 0;
}

.nav__a li {
 display: inline-block;
}

.no-click {
 pointer-events: none;
 font-weight: 500;
 color: var( --color-sombra);
}

.header__carrito_login {
 display: flex;
 width: max-content;
 flex-direction: row;
 justify-content: space-around;
 gap: 1em;
}

.header__nav li {
 font-size: 1.2em;
}

.header__nav a {
 text-decoration: none;
}
.header__logo img {
 max-height: 5rem;
}

.header__buscador {
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}

.header__buscador a {
 color: var(--color-texto);
}

.buscador {
  position: relative;
  display: inline-block;
}

.buscador-input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 220px;
  font-size: 14px;
}

.resultados-busqueda {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: rgb(212, 212, 212);
  border: 1px solid #ccc;
  border-radius: 5px;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
  display: none;
  scrollbar-width: none;
  scrollbar-color: var(--color-bordes);
}

.resultados-busqueda li {
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  color: var(--color-texto);
  border-bottom: 1px solid #eee;
  transition: all 0.1s ease;
}

.resultados-busqueda li:hover {
  background-color: var(--color-primario);
  color: whitesmoke;
}

.carrito {
 position: relative;
 margin-right: 0.5em;
 display: none;
}

.cursos_en_carrito {
 position: absolute;
 top: -0.5em;
 right: -0.625em;
 background: var(--color-acento);
 color: var(--color-blanco);
 font-size: 0.75em;
 font-weight: bold;
 padding: 0.125em 0.375em;
 border-radius: 50%;
}

#buscador__movile {
 display: none;
}

.buscador {
 height: 2em;
 position: relative;
 display: flex;
 align-items: center;
 width: 60%;
}

.buscador input {
 padding: 0.12em 0.5em;
 font-size: 1em;
 border: 1px solid #ccc;
 border-radius: 20px;
 width: 100%;
 height: 100%;
}

.buscador #i_lupa {
 position: absolute;
 right: 0.9em;
 top: 50%;
 transform: translateY(-50%);
 color: #666;
 cursor: pointer;
}
.buscador:hover #i_lupa {
 display: none;
}

/*Ocula la lupa cuando se escribe en el input*/
.buscador:focus-within .fa-magnifying-glass,
.buscador:has(input:not(:placeholder-shown)) .fa-magnifying-glass {
 display: none;
 visibility: hidden;
}

.header__carrito {
 display: flex;
}

.fa-cart-shopping,
.fa-right-from-bracket{
 font-size: 1.6em;
 margin: 0 1%;
}

.login{
  text-decoration: none;
  text-align: center;
}

.login:hover{
  color: var(--color-oscuro) !important;
}
/* Desplegable*/

.desplegable {
 position: relative;
}
.desplegable a {
 color: var(--color-primario);
 font-weight: 500;
}
.desplegable .menu_desplegable {
 display: none;
}
.menu_desplegable {
 position: absolute;
 left: 0;
 top: 100%;
 gap: 0.5em;
 font-size: 0.9em;
 cursor: pointer;
}
.menu_desplegable li {
 padding: 0.2em;
}

.menu_desplegable > li {
 width: 225%;
 transform: translateX(-20px);
 text-align: center;
 background-color: var(--color-fondo);
}
.menu_desplegable > li:hover {
 z-index: 100;
}
.desplegable:hover > .menu_desplegable {
 display: block;
}

.footer {
 width: 100%;
 background-color: var(--color-oscuro);
 color: var(--color-blanco);
 height: max-content;
 box-sizing: border-box;
 padding: 1em;
}

.footer ul {
 list-style: none;
}

.footer a {
 color: var(--color-blanco);
}

.footer__contenedor {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 2rem;
}

.footer__title {
 text-align: start;
 font-size: 1.1em;
 font-weight: 600;
}

.footer__dev_names {
 width: 100%;
 display: grid;
 margin: 0.2em;
 grid-template-columns: repeat(2, auto);
 grid-template-rows: repeat(3, auto);
 justify-content: start;
 list-style: none;
 column-gap: 1.5em;
 row-gap: 0.5em;
 margin-left: 0;
}

.footer__menu ul {
 display: flex;
 flex-direction: column;
 justify-content: start;
 row-gap: 0.2em;
}

.footer__redes {
 display: flex;
 flex-direction: column;
 justify-content: start;
 align-items: center;
}

.footer__redes ul {
 display: flex;
 flex-direction: row;
 gap: 1em;
 margin-top: 0.5em;
 font-size: 2em;
}

.footer__redes i {
 transition: 0.5s;
}

.footer__redes i:hover {
 color: var(--color-secundario);
 scale: 1.06;
}

.footer__copy {
 margin-top: 1.5rem;
 text-align: center;
 font-size: 0.8rem;
 color: var(--color-fondo);
}

@media screen and (min-width: 64em) {
 /* Línea escondida */
 .nav__a .enlace__curso::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--color-primario);
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
 }

 /* Efecto de linea creciente*/
 .nav__a .enlace__curso:hover::after {
  transform: translateX(-50%) scaleX(1);
 }
 .menu_desplegable li a {
  color: var(--color-primario);
  text-decoration: none;
  font-size: 0.9em;
  padding: 0.5em 0;
  display: block;
  position: relative;
 }
 /* Línea que aparece al hacer hover */
 .menu_desplegable li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.2em; /* separación del texto */
  width: 0%;
  height: 2px;
  background: var(--color-primario); /* color del subrayado */
  transition: width 0.3s ease;
 }

 /* Cuando pasamos el cursor, la línea se expande */
 .menu_desplegable li a:hover::after {
  width: 90%;
  transform: translateX(5%) scaleX(1);
 }
}
@media screen and (max-width: 64em) {
.header__nav a,.nav__a .enlace__curso{
    font-size: 80%;
 }
}
@media screen and (max-width: 48em) {
 #buscador__movile {
  display: block;
 }

 #buscador {
  display: none;
 }

 .header__logo img {
  max-height: 3rem;
 }

 .buscador input {
  font-size: small;
 }

 .hamburger {
  display: block;
  order: 1;
  width: 50%;
  margin: auto;
 }

 .hamburger:hover {
  cursor: pointer;
  background-color: var(--color-fondo);
 }

 .header__carrito_login i {
  font-size: large;
 }
 
 .header__carrito_login {
  gap: 0.4em;
 }

 .header__nav {
  display: none;
  /* oculto por defecto */
  position: absolute;
  top: 5rem;
  /* debajo del header */
  left: 0;
  width: 100%;
  background-color: var(--color-fondo);
  text-align: center;
  padding: 1rem 0;
 }

 .header__nav ul {
  flex-direction: column;
  gap: 1em;
 }

 /* Clase activa para mostrar menú */
 .header__nav.active {
  display: block;
 }

 .footer__contenedor {
  grid-template-columns: 1fr;
  gap: 1rem;
 }

 .footer__dev_names {
  grid-template-columns: 1fr;
 }

 .footer__menu ul {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
 }

 .footer__redes {
  align-items: start;
 }

 .footer__redes ul {
  justify-content: start;
  gap: 0.5em;
  font-size: 1.5em;
 }

 @media screen and (max-width: 30em) {
  .footer {
   font-size: xx-small;
  }
 }
}
